<div class="text-right">
  <%= form_with model: @wholesale, url: admin_wholesales_path, method: :post do |f| %>
    <div class="form-group row ml-5">
      <%= f.label :name,"卸先名前", class: "col-lg-3" %>
      <%= f.text_field :name, class: "form-control col-lg-3" %>
      <div class="col-lg-3">
        <%= f.submit '新規追加',class:"btn btn-success btn-block" %>
      </div>
    </div>
  <% end %>
</div>

<div class="row justify-content-center mt-5 mb-3">
    <h3 class="mini-title">一覧</h3>
  </div>

  <div class="row text-center">
    <div class="col-lg-6 offset-3">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <th>卸先名前</th>
          <th>卸先数</th>
          <th></th>
        </thead>
        <tbody>
          <% @wholesales.each do |wholesale| %>
            <tr>
              <td><%= wholesale.name %></td>
              <td><%= wholesale.recipes.count %></td>
              <td><%= link_to "編集する", edit_admin_wholesale_path(wholesale.id), class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>