配合を立てる！
<% if member_signed_in? %>
<%= current_member.name %>がログイン中
<% end %>

<%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>

<%= f.label :name, '製品名' %>
<%= f.text_field :name %>

<%= f.label :recipe_genre_id, '製品ジャンル' %>
<%= f.collection_select :recipe_genre_id, RecipeGenre.all, :id, :name, include_blank: "選択してください", class: "col-lg-4" %>

<%= f.label :wholesale_id, '卸先' %>
<%= f.collection_select :wholesale_id, Wholesale.all, :id, :name, include_blank: "選択してください", class: "col-lg-4" %>

<%= f.label :member_id, 'メンバー' %>
<%= f.collection_select :member_id, Member.all, :id, :name, include_blank: "選択してください", class: "col-lg-4" %>

<%= f.label :end_user_id, '最終ユーザー' %>
<%= f.collection_select :end_user_id, EndUser.all, :id, :name, include_blank: "選択してください", class: "col-lg-4" %>

<%= f.label :manufacturing_cost, '製造費' %>
<%= f.text_field :manufacturing_cost %>

<%= f.label :material_cost, '材料費' %>
<%= f.text_field :material_cost %>

<%= f.label :for_use, '用途' %>
<%= f.text_field :for_use %>


<%= f.submit '作成' %>

<% end %>

<div class="row text-center">
    <div class="col-lg-6 offset-3">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <th>配合名</th>
          <th>作成者</th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <td><%= recipe.name %></td>
              <td><%= recipe.member.name %></td>
              <td><%= link_to "詳細", recipe_path(recipe.id), class: "btn btn-success" %></td>
              <td><%= link_to "編集する", edit_recipe_path(recipe.id), class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

<%= link_to "次へ", materials_path %>
