<!DOCTYPE html>
<html>
  <head>
    <title>Haigo2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active mr-3">
              <%= link_to 'Top', root_path%>
            </li>
            <li class="nav-item active mr-3">
              <%= link_to 'Recipe', recipes_path %>
            </li>
            <li class="nav-item active mr-3">
              <%= link_to 'Member', members_path %>
            </li>
            <li class="nav-item active mr-3">
              <%= link_to 'Material', materials_path %>
            </li>
            <li class="nav-item active mr-3">
              <%= link_to 'ログイン', new_member_session_path %>
            </li>
            <li class="nav-item active mr-3">
              <%= link_to '新規登録', new_member_registration_path %>
            </li>
            <li class="nav-item active mr-3 header-icon">
              <%= link_to 'サインアウト', destroy_member_session_path, method: :delete, data: { confirm: 'ログアウトしますか？' } %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
